html, body {
  height: 100%;
}

section {
  min-height: 100%;
  text-align: center;
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: box;
  box-pack: center;
  box-align: center;
}

section:nth-child(odd) {
  background: #fff;
}

section:nth-child(even) {
  background: #eee;
}

pre, code {
  text-align: left;
}
